{% extends "base.html" %}
 
 {% block title %} 
 Login 
 {% endblock %} 
 
 {% block body %}
<h2>Login</h2>
<div class="form">
	<form action="{{ url_for('front.login') }}" method="POST">
{{ form.csrf_token }}
<div class="form-group">
	{{ form.email.label }}
	{{ form.email(class='form-control') }}
</div>
<div class="form-group">
    {{ form.password.label }}
    {{ form.password(class='form-control') }}
</div>
<div class="checkbox"><label for="">
    {{ form.remember_me() }}
    {{ form.remember_me.label.text }}
</label></div>
    {{ form.submit(class="btn btn-primary") }}
</form>
</div>

{% endblock %}